.landing{
  height: 100vh;
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image: linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)),
    radial-gradient(
      90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
      rgb(200 200 200),
      rgb(022 000 045)
    ),
    radial-gradient(
      100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
      rgb(250 255 000),
      rgb(036 000 000)
    ),
    radial-gradient(
      150% 210% at calc(100% + var(--x)) calc(0% + var(--y)),
      rgb(020 175 125),
      rgb(000 010 255)
    ),
    radial-gradient(
      100% 100% at calc(100% - var(--x)) calc(30% - var(--y)),
      rgb(255 077 000),
      rgb(000 200 255)
    ),
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: overlay, overlay, difference, difference, difference,
    normal;
}

.scroll-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.scroll-inner {
  display: flex;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}
.scroll-inner:hover {
  animation-play-state: paused;
}
.card {
  flex-shrink: 0;
  width: 300px; /* Adjust card width as needed */
  margin-right: 20px;
  background-color: #ffffff; /* Ensure background color is consistent */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb; /* Add border for separation */
  transition: transform 0.3s;
  height: auto;
  margin-bottom: 20px; /* Add margin between cards */
}

.card-image {
  width: 100%; /* Ensure image fills card width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 8px; /* Add border radius to image */
  margin-bottom: 10px; /* Add margin below image */
}

.card-title {
  font-size: 17px; /* Adjust title font size */
  color: #6b21a8;
  font-weight: bold; /* Ensure title is bold */
  margin-bottom: 10px; /* Add margin below title */
  overflow: hidden; /* Hide overflow beyond card boundaries */
  text-overflow: ellipsis; /* Add ellipsis for text overflow */
  white-space: normal; /* Allow text to wrap */
  max-height: 4em; /* Limit the title to 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the title to 3 lines */
  -webkit-box-orient: vertical;
}


.card-description {
  color: #4b5563;
  font-size: 12px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Add margin below title */
  overflow: hidden; /* Hide overflow beyond card boundaries */
  text-overflow: ellipsis; /* Add ellipsis for text overflow */
  white-space: normal; /* Allow text to wrap */
  max-height: 5em; /* Limit the title to 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the title to 3 lines */
  -webkit-box-orient: vertical;
}

.card-button {
  background: linear-gradient(to right, #7e22ce, #ec4899); /* Adjust button background color */
  color: #ffffff; /* Ensure button text is readable */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Adjust padding inside button */
  border-radius: 4px; /* Add button border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
  width: 100%; /* Ensure button fills card width */
  text-align: center; /* Center align button text */
  margin-top: auto; /* Move button to bottom of card */
}

.card-button:hover {
  transform: scale(1.05);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.text-light {
  color: #cbd5e0; /* Adjust light text color as needed */
}
